
<div>
    <a href="{{ path('register_user_profil') }}">user</a>
</div>


<div id="wb_element_instance1261" class="wb_element wb_text_element" style=" line-height: normal;">
    <p class="wb-stl-normal" style="text-align: justify;">
        <em>
            <span style="color:rgba(0,0,0,1);">Pour la sécurité de votre&nbsp;transaction, nous avons opté pour la plateforme de paiement paypal. Vous pouvez donc, une fois connecté(e), payer par carte bancaire ou via votre compte Paypal, si vous en avez un.</span>
        </em>
    </p>
</div>


<div id="wb_element_instance1262" class="wb_element" style=" overflow: hidden;">
    <div style="height: 100%;">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="XQPB7P6SA84RU">
            <table>
                <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="on0" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Inscription Auteur">Inscription Auteur : €60,00 EUR - Annuel</option>
                            <option value="Inscription Lecteur">Inscription Lecteur : Totalement GRATUIT</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" name="currency_code" value="EUR">
            <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne"><img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1"></form>
    </div>
</div>

<div id="wb_element_instance1263" class="wb_element wb_element_picture" title="">
    <img alt="gallery/book-3658687_1920" src="{{ asset('assets/images/gallery/fcc675f512067a4eaf8cafd56d59432a_300x300.png') }}">
</div>

</div>
<div class="wb_cont_outer"></div>
<div class="wb_cont_bg"></div>
</div>


