{% extends 'base.html.twig' %}

{% block title 'PasVuPasLu - Mot de passe oublié' %}

{% block body %}
    <div class="content">
        {% for message in app.Flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show mb-0 text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="illustration" style="background-image: url({{ asset('assets/images/illustration/login.jpg') }});">
            <span class="illustration-title about-title login-tilte" style="width: 28.2rem">Mot de passe oublié !</span>
        </div>

        <div class="separator"></div>

        <div class="block-quote bg-purple text-white" style="height: auto;border-top: 1px solid white;">
            <h3 style="font-size: 1.26rem; font-style: italic;margin: 1rem 0 2rem; color: white; text-align: center; text-decoration: underline;">Avez-vous oublié votre mot de passe ?</h3>
            <form method="POST" action="{{ path('password_forgot') }}" class="register mx-auto w-50">
                <div class="form-row">
                    <p style="margin-bottom: 4rem;font-size: .90rem; text-align: center; opacity: .9;">
                        Si vous avez oublié votre mot de passe, nous vous demandons d'en recréer un nouveau. Pour cela, suivez les étapes suivantes : Renseigner l'adresse e-mail pour laquelle vous avez oublié votre mot de passe.
                    </p>
                    <div class="col-12 mb-5">
                        <label for="email">Adresse mail</label>
                        <input type="email" class="form-control" id="email" name="email" required autocomplete="off" placeholder="Adresse mail du compte">
                    </div>
                </div>
                <div class="text-center mb-5">
                    <button class="login btn-default" type="submit">Envoyer</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
