{% extends 'base.html.twig' %}

{% block title 'Réinitialisation du mot de passe' %}

{% block body %}
    <div class="content">
        {% for message in app.Flashes('errors') %}
            <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="illustration" style="background-image: url({{ asset('assets/images/illustration/login.jpg') }});">
            <span class="illustration-title about-title login-tilte" style="width: 28.2rem">Réinitialisation du mot de passe</span>
        </div>

        <div class="separator"></div>

        <div class="block-quote bg-purple text-white" style="height: auto;border-top: 1px solid white;">
            <h3 style="font-size: 1.26rem; font-style: italic; margin: 2rem 0 4rem; color: white; text-align: center; text-decoration: underline;">Changer votre mot de passe</h3>
            <form method="POST" class="register mx-auto w-50">
                <div class="form-row">
                    <div class="col-12 mb-5">
                        <label for="password">Nouveau mot de passe</label>
                        <input type="password" id="password" name="password" class="form-control" required placeholder="Nouveau mot de passe">
                        <input type="hidden" name="token" value="{{ token }}">
                    </div>
                    <div class="col-12 mb-4">
                        <label for="password-confirm">Confirmer le nouveau mot de passe</label>
                        <input type="password" id="password-confirm" name="password-confirm" required class="form-control" placeholder="Confirmer le nouveau mot de passe">
                    </div>
                </div>
                <div class="text-center mb-5">
                    <button class="login btn-default" type="submit">Enregistrer le mot de passe </button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
