<div class="search-empty" style="display: none;">
    <div class="container mt-5 mb-5 text-center">
        Oups, aucun résultat n'a été trouvé pour cette recherche : <span class="font-weight-bold" id="data-search"></span>
    </div>
</div>
