<!-- Footer -->
<a class="scroll-to-top rounded" href="#page-top" style="display: none;">
    <i class="fas fa-angle-up"></i>
</a>
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">


            <span>Copyright &copy; Pas Vu Pas Lu 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footers -->
